/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(/img/futuretech.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%; }

body .overflow {
  overflow-x: hidden; }

.logo-login {
  margin-bottom: 30px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-presisi {
  display: block;
  margin: 45px auto 0px auto;
  /* width: 355px; */
  width: 75%;
}

.button-login {
  display: block;
  margin: 50px auto;
  width: 50%;
}
/* 
@media (orientation: landscape), (max-width: 1200px) {
  .button-login {
      display: none;
    }
  } */

.button-login:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.text-logo {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 0.9;
}

.text-slogan {
  display: inline-flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1.5px solid #00adef;
  margin: 10px 0 20px 0;
  padding: 4px 15px;
  background: rgba(0, 173, 239, 0.2);
  /* box-shadow: (0 0 5px rgba(81, 203, 238, 1)); */
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
}

.left-kurung {
  position: absolute;
  width: 10px;
  margin: -1.5px 0 0 3px;
}

.right-kurung {
  position: absolute;
  width: 10px;
  margin: -1.5px 0 0 -13px;
}

.checktainer {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checktainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  /* background-color: #eee; */
  border: 1px solid #00adef;
}

/* On mouse-over, add a grey background color */
.checktainer:hover input ~ .checkmark {
  border: 1px solid #00adef;
}

/* When the checkbox is checked, add a blue background */
.checktainer input:checked ~ .checkmark {
  background-color: #00adef;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checktainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checktainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .text-slogan span#lefts {
  position: absolute;
  color: #00adef;
  margin-top: 10px;
  margin-left: -92px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
}

.text-slogan span#rights {
  position: absolute;
  color: #00adef;
  margin-top: 10px;
  margin-right: -103px;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
} */

.text-login {
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  margin-top: -88px;
  margin-left: 0.2px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-image: linear-gradient(#0B6992, #16374B);
  border-radius: 50%;
  z-index: -1;
}

.home-article {
  display: inline-flex;
  font-size: 11px;
  color: #fff;
  background:  #105C7C; 
  border: 12px solid transparent;   
  border-image: url(/img/border.png);
  border-image-slice: 30;
  border-image-repeat: stretch;
  /* padding: 0;
  margin: 0; */
  /* border: 1px solid #00adef; */
  margin: 10px 0 20px 0;
    /* padding: 0 0 0 5px; */
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.2), 0 0 20px 0 rgba(81, 203, 238, 0.03);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-image: linear-gradient(108deg, rgba(16, 92, 124, 0.4) 1%, rgba(16, 92, 124, 0.05) 99%);
}

.home-article img {
  float: left;
  padding: 0;
  margin: -2px -15px;
  width: 130px;
}

.home-article p {
  margin: 0px -5px -2px 30px;
  line-height: 1.39;
  text-transform: capitalize;
}

.home-article p label {
  font-size: 10px;
  margin-top: 7px;
  color: #00adef;
  text-transform: capitalize;
}

.home-article p label span {
  position: absolute;
  font-size: 15px;
  margin: -3px 0 0 3px;
  font-weight: lighter;
  color: #00adef;
}

.centered {
  display: flex;
  /* background: #ff0000; */
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.head-logo img {
  top: 0;
  float: left;
  padding: 0;
  margin: 0px 8px 5px 0;
  width: 33px;
  /* margin-bottom: 35px; */
}

.title-news{
  color: #fff;
  text-align: center;
  margin-top: -5px;
  font-size: 13px;
}

.more-article{
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  margin-bottom: -5px;
  /* margin-right: 10px; */
}

.more-article img{
  width: 5px;
  margin-top: -2px;
  margin-left: 5px;
}

.more-article span {
  position: absolute;
  font-size: 15px;
  margin: -4px 0 0 3px;
  font-weight: lighter;
  color: #fff;
}

.head-logo h3 {
  margin: 0;
  padding-top: 8px;
  line-height: 1.39;
  font-size: 13px;
  text-transform: uppercase;
}



#footer-login {
  position:absolute;
  bottom:0;
  font-size:11px;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  padding-top:11px;
  width:100%;
  height:38px;
  background:#113e51;
}

.form-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto; }
  .form-form .form-form-wrap {
    max-width: 325px;
    margin: 0 auto;
    min-width: 200px;
    min-height: 100%;
    align-self: center;
    width: 100%;
    /* height: 100vh; */
    justify-content: center; }
  .form-form .form-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 100%; }
    .form-form .form-container .form-content {
      display: block;
      width: 100%;
      padding: 20px 25px;
      /* background: #060818; */
      text-align: center;
      /* border-radius: 15px;
      -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);  */
    }
      .form-form .form-container .form-content h1 {
        font-size: 32px;
        color: #bfc9d4; }
      .form-form .form-container .form-content > p {
        font-size: 13px;
        color: #888ea8;
        font-weight: 600;
        margin-bottom: 35px; }
  .form-form .form-form-wrap .user-meta {
    margin-bottom: 35px; }
    .form-form .form-form-wrap .user-meta img {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 15px;
      border: 4px solid rgba(59, 63, 92, 0.25); }
    .form-form .form-form-wrap .user-meta div {
      align-self: center; }
    .form-form .form-form-wrap .user-meta p {
      font-size: 31px;
      color: #bfc9d4;
      margin-bottom: 0; }
  .form-form .form-form-wrap h1 .brand-name {
    color: #bfc9d4;
    font-weight: 600; }
  .form-form .form-form-wrap p.signup-link {
    font-size: 14px;
    color: #bfc9d4;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 50px; }
    .form-form .form-form-wrap p.signup-link.register {
      font-size: 13px;
      color: #888ea8;
      font-weight: 600;
      margin-bottom: 25px;
      margin-top: 0; }
    .form-form .form-form-wrap p.signup-link.recovery {
      margin-top: 0; }
    .form-form .form-form-wrap p.signup-link a {
      color: #009688;
      border-bottom: 1px solid;
      font-weight: 600; }
  .form-form .form-form-wrap form .field-wrapper {
    width: 100%; }
    .form-form .form-form-wrap form .field-wrapper.input {
      margin-left: 0px;
      padding: 5px 0px 5px 0;
      border-bottom: none;
      position: relative; }
      .form-form .form-form-wrap form .field-wrapper.input:focus {
        border: 1px solid #000; }
    .form-form .form-form-wrap form .field-wrapper.toggle-pass p {
      font-weight: 600;
      color: #bfc9d4;
      margin-bottom: 0; }
    .form-form .form-form-wrap form .field-wrapper .logged-in-user-name {
      font-size: 37px;
      color: #bfc9d4; }
    .form-form .form-form-wrap form .field-wrapper label {
      font-size: 10px;
      font-weight: normal;
      color: #00adef;
      margin-top: 8px; }
    .form-form .form-form-wrap form .field-wrapper.terms_condition {
      margin-bottom: 20px; }
      .form-form .form-form-wrap form .field-wrapper.terms_condition label {
        font-size: 14px;
        color: #009688;
        padding-left: 31px;
        font-weight: 600; }
      .form-form .form-form-wrap form .field-wrapper.terms_condition a {
        color: #bfc9d4; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-user {
      top: 12px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-lock {
      top: 12px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-at-sign {
      top: 47px; }
      .form-form .form-form-wrap form .field-wrapper svg.feather-at-sign.register {
        top: 53px; }
    .form-form .form-form-wrap form .field-wrapper svg:not(.feather-eye) {
      position: absolute;
      left: 12px;
      color: #00adef;
      fill: rgba(0, 23, 55, 0.08);
      width: 20px;
      height: 20px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-eye {
      position: absolute;
      top: 12px;
      right: 13px;
      color: #00adef;
      fill: rgba(0, 23, 55, 0.08);
      width: 17px;
      cursor: pointer; }
    .form-form .form-form-wrap form .field-wrapper input {
      display: inline-block;
      vertical-align: middle;
      /* border-radius: 6px; */
      min-width: 50px;
      max-width: 350px;
      width: 100%;
      -ms-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      color: #00adef;
      border: 1px solid #00adef;
      font-weight: normal;
      font-size: 13px;
      padding: 13px 42px;
     }
      .form-form .form-form-wrap form .field-wrapper input::-webkit-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-ms-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-moz-placeholder {
        color: #d3d3d3;
        font-size: 14px; }
    .form-form .form-form-wrap form .field-wrapper button.btn {
      margin-top: -15px;
      align-self: center;
      width: 100%;
      padding: 5px 10px;
      font-size: 14px;
      letter-spacing: 1.5px; }
    .form-form .form-form-wrap form .field-wrapper a.forgot-pass-link {
      font-weight: normal;
      color: #00adef;
      display: block;
      letter-spacing: 1px;
      font-size: 10px;
      margin-top: 8px; }
    .form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator {
      top: 2px;
      border: 1px solid #ff0000;
      background-color: #ff0000; }
      .form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator:after {
        top: 54%; }

.new-control.new-checkbox.checkbox-primary > input:checked ~ span.new-control-indicator {
  border: none; }

.form-form .form-form-wrap form .division {
  text-align: center;
  font-size: 13px;
  margin: 35px 0 38px 0; }

  .dodneon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #00adef;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}



.dodneon:hover {
  color: #255784;
  background: #00adef;
  box-shadow: 0 0 10px #00adef, 0 0 40px #00adef, 0 0 80px #00adef;
  transition-delay: 1s;
}


.dodneon span {
  position: absolute;
  display: block;
}




.dodneon span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
}



.dodneon:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


.dodneon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
}

.dodneon:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



.dodneon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
}

.dodneon:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}



.dodneon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
}

.dodneon:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}



.form-form .form-form-wrap form .social {
  text-align: center; }
  .form-form .form-form-wrap form .social a {
    background: transparent;
    box-shadow: none;
    border: 1px solid #1b2e4b;
    padding: 12px 10px;
    width: 181px;
    color: #888ea8; }
    .form-form .form-form-wrap form .social a.social-fb {
      margin-right: 15px; }
      .form-form .form-form-wrap form .social a.social-fb svg, .form-form .form-form-wrap form .social a.social-fb .brand-name {
        color: #2196f3; }
        

        
@include media-breakpoint-up(sm) { 
  .logo-login {
    border-bottom: 2px solid #ff0000;
  }
}
@include media-breakpoint-up(md) { 
  .logo-login {
    border-bottom: 2px solid #fff;
  }
 }
@include media-breakpoint-up(lg) { 
  .logo-login {
    border-bottom: 2px solid #00ffff;
  }
 }
@include media-breakpoint-up(xl) { 
  .logo-login {
    border-bottom: 2px solid #ddd;
  }
 }
@include media-breakpoint-up(xxl) { 
  .logo-login {
    border-bottom: 2px solid #111;
  }
 }

/* @media (max-width: 991px) {
  .form-form {
    width: 100%; }
    .form-form .form-form-wrap {
      min-width: auto;
      margin: 0 auto; }
    .form-form .form-container .form-content {
      border-radius: 15px; } 
    }

@media (max-width: 575px) {
  .form-form .form-form-wrap form .field-wrapper.toggle-pass {
    margin-bottom: 28px; }
  .form-form .form-form-wrap form .social a.social-fb, .form-form .form-form-wrap form .social a.social-github {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: block; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-form .form-form-wrap {
    width: 100%; }
  .form-form .form-container {
    height: 100%; } }

@supports (-ms-ime-align: auto) {
  .form-form .form-form-wrap {
    height: 100%; } } */

    /* @media (min-width: 1300px) {
      .head-logo img {
        margin-top: 22px;
        width: 44px;
      } 
    
      .head-logo h3 {
        padding-top: 30px;
        font-size: 18px;
    }
    
      .button-login {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 40px;
        width: 180px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
      }
    
      .logo-presisi {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        margin-bottom: 30px;
        width: 680px;
      }
    
      .text-login {
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: absolute;
        color: #fff;
        margin-top: -130px;
        margin-left: 0.2px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 28px 12px;
        background-image: linear-gradient(#0B6992, #16374B);
        border-radius: 50%;
      }
    
      .title-news{
        border-bottom: 1px solid #174868;
        color: #fff;
        margin-bottom: 5px;
        font-size: 20px;
      }
    
      .more-article{
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: -8px;
      }

      .logo-login {
        margin-top: 35px;
        margin-bottom: 30px;
        width: 165px;
    }

      .text-logo {
        font-size: 30px;
    }

    .form-form .form-form-wrap {
      max-width: 380px;
  }

  .text-slogan {
    font-size: 14px;
    margin: 10px 0 20px 0;
    padding: 2px 45px; 
}

 .text-slogan span#lefts {
  margin-left: -122px;
}

.text-slogan span#rights {
  margin-right: -133px;
} 
    
    } */