/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bghome-change);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%; }

body .overflow {
  overflow-x: hidden; }

.theme-light {
  --bghome-change: #1f4e65 url(/img/futuretech.jpg);
  --logohome-change: block;
  --logohomeligh-change: none;
  --newstext-change: #fff;
  --svgpath-change: #00adef;
  --svgline-change: #00adef;
  --bgline-article: url(/img/border.png);
  --bgcolor-article: #105C7C;
  --bggradient-article : linear-gradient(108deg, rgba(16, 92, 124, 0.3) 1%, rgba(16, 92, 124, 0.3) 99%);
  --glassmor-article : url(/img/futuretech.jpg) no-repeat center center fixed;
  --txtdetl-article : #ebedf2;
  --autofill-change: 0 0 0px 1000px #17465F inset;
  --txt-slogan : #fff;
  --bg-slogan : rgba(0, 173, 239, 0.2);
  --border-slogan : 1.5px solid #00adef;
  --input-formwrap : #00adef;
 }
.theme-dark {
  --bghome-change: #ccdbee url(/img/futuretech-light.jpg);
  --logohome-change: none;
  --logohomeligh-change: block;
  --newstext-change: #105c7c;
  --svgpath-change: #fff;
  --svgline-change: #fff;
  --bgline-article: url(/img/border-light.png);
  --bgcolor-article: #fff;
  --bggradient-article : linear-gradient(108deg, rgba(255, 255, 255, 0.1) 1%, rgba(255, 255, 255, 0.1) 99%);
  --glassmor-article : url(/img/futuretech-light.jpg) no-repeat center center fixed;
  --txtdetl-article : #105c7c;
  --autofill-change: 0 0 0px 1000px rgba(255, 255, 255, 0.01) inset;
  --txt-slogan : #105c7c;
  --bg-slogan : rgba(255, 255, 255, 0.2);
  --border-slogan : 1.5px solid #fff;
  --input-formwrap : #7aa2ac;
}

.logo-login {
  margin-top: 15px;
  margin-bottom:40px;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-presisi {
  display: var(--logohome-change);
  margin: 35px auto 0px auto;
  /* width: 355px; */
  width: 55%;
}

.logolight-presisi {
  display: var(--logohomeligh-change);
  margin: 35px auto 0px auto;
  /* width: 355px; */
  width: 55%;
}

.line-article svg path {
  fill: var(--svgpath-change);;
}

.line-article svg line {
  stroke: var(--svgline-change);;
}

.button-login {
  display: var(--logohome-change);
  margin: 50px auto;
  width: 65%;
}

.button-login:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.button-loginlight {
  display: var(--logohomeligh-change);
  margin: 50px auto;
  width: 65%;
}

.button-loginlight:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.text-logo {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 0.9;
}

.text-welcome {
  display: inline-flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: var(--border-slogan);
  margin: 10px 0 20px 0;
  padding: 4px 15px;
  background: var(--bg-slogan);
  color: #fff;
  /* box-shadow: (0 0 5px rgba(81, 203, 238, 1)); */
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
}

.text-slogan {
  display: inline-flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: var(--border-slogan);
  margin: 10px 0 20px 0;
  padding: 4px 15px;
  background: var(--bg-slogan);
  color: var(--txt-slogan);
  /* box-shadow: (0 0 5px rgba(81, 203, 238, 1)); */
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
}

svg.left-kurung path.a {
  stroke: var(--svgpath-change);
  stroke-width :3px;
  fill: none;
}

svg.right-kurung path.a {
  stroke: var(--svgpath-change);
  stroke-width :3px;
  fill: none;
}

.left-kurung {
  position: absolute;
  width: 10px;
  margin: -1.5px 0 0 3px;
}

.right-kurung {
  position: absolute;
  width: 10px;
  margin: -1.5px 0 0 -13px;
}

.checktainer {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checktainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  /* background-color: #eee; */
  border: 1px solid #00adef;
}

/* On mouse-over, add a grey background color */
.checktainer:hover input ~ .checkmark {
  border: 1px solid #00adef;
}

/* When the checkbox is checked, add a blue background */
.checktainer input:checked ~ .checkmark {
  background-color: #00adef;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checktainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checktainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .text-slogan span#lefts {
  position: absolute;
  color: #00adef;
  margin-top: 10px;
  margin-left: -92px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
}

.text-slogan span#rights {
  position: absolute;
  color: #00adef;
  margin-top: 10px;
  margin-right: -103px;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.1), 0 0 20px 0 rgba(81, 203, 238, 0.09);
} */

.text-login {
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  margin-top: -90px;
  margin-left: 0.2px;
  left: 50%;
  width: 27%;
  transform: translate(-50%, -70%);
  /* padding: 25px; */
  /* background-image: linear-gradient(#0B6992, #16374B); */
  /* border-radius: 50%; */
  z-index: -1;
  /* z-index: 999; */
}

.show-more p b {
  font-weight: bolder;
}

.show-more p {
  font-weight: lighter;
  font-size: 12px;
}

.label-more {
  margin: 55px 0 100px 0;
}

.label-more label {
  text-transform: uppercase;
  font-size: 10px;
  color: #00adef;
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid #00adef;
}

.detail-article img {
  margin: 20px 0;
  border: 1px solid #105C7C; 
  width: 100%;
}

.sidebar-article {
  display: inline-flex;
  font-size: 11px;
  color: #fff;
  background:  #105C7C; 
  border: 12px solid transparent;   
  border-image: url(/img/border.png);
  border-image-slice: 30;
  border-image-repeat: stretch;
  /* padding: 0;
  margin: 0; */
  /* border: 1px solid #00adef; */
  margin: 10px 0 0 0;
    /* padding: 0 0 0 5px; */
  box-shadow: 0 0 8px 0 rgba(81, 203, 238, 0.2), 0 0 20px 0 rgba(81, 203, 238, 0.03);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-image: linear-gradient(108deg, rgba(16, 92, 124, 0.4) 1%, rgba(16, 92, 124, 0.05) 99%);
}

.sidebar-article img {
  float: left;
  padding: 0;
  margin: -2px -15px;
  width: 130px;
}

.sidebar-article p {
  font-size: 10px;
  margin: 0px -5px -2px 30px;
  line-height: 1.39;
  text-transform: capitalize;
}

.sidebar-article p label {
  display: block;
  font-size: 10px;
  margin-top: 7px;
  color: #00adef;
  text-transform: capitalize;
}

.home-article::before {
  background: var(--glassmor-article);;
  background-size: 100%;
}

.home-article {
  position: relative;
  display: inline-flex;
  font-size: 11px;
  background: var(--bgcolor-article); 
  border: 12px solid transparent;   
  border-image: var(--bgline-article);
  border-image-slice: 30;
  border-image-repeat: stretch;
  margin: 10px 0 20px 0;
  width: 100%;
  background: var(--bggradient-article);
}

.home-article::before {
  content: '';
  margin: -15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(3.5px);
  z-index: -1;
}

.home-article img {
  float: left;
  padding: 0;
  margin: 0px 10px 0px -15px;
  width: 135px;
}

.home-article p {
  margin: 0px -5px 0px 30px;
  line-height: 1.39;
  text-transform: capitalize;
  color: var(--txtdetl-article);
}

.home-article p:hover {
  color: #00adef;
}

.home-article p label {
  display: block;
  font-size: 10px;
  margin-top: 0px;
  color: #00adef;
  text-transform: capitalize;
}

/* .home-article p label span {
  position: absolute;
  font-size: 15px;
  margin: -3px 0 0 3px;
  font-weight: lighter;
  color: #00adef;
} */

.style-3 {
  overflow: hidden;
  height: 400px;
}

.style-3 img {
  width: 100%;
}

.centered {
  display: flex;
  /* background: #ff0000; */
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.mt-30{
  margin: 30px 0;
}

.head-logo img {
  top: 0;
  float: left;
  padding: 0;
  margin: 0px 8px 5px 0;
  width: 33px;
  /* margin-bottom: 35px; */
}

.head-logo h3 img{
  width: 6px;
  margin-top: 3px;
  /* margin-top: 11px;
  margin-left: -20px;
  position: absolute; */
}

.footer-button img {
  top: 0;
  float: left;
  padding: 0;
  margin: 0px 8px 5px 0;
  width: 33px;
  /* margin-bottom: 35px; */
}

.footer-button h3 img{
  width: 6px;
  margin-top: 2px;
  margin-left: 30px;
  margin-right: -30px;
  /* margin-top: 11px;
  margin-left: -20px;
  position: absolute; */
}

.head-logo h3 span{
  margin-left: 12px;
}

.colorback{
  color: #00adef;
  font-size: 11px;
}

.scale-rotate{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.title-news{
  color: var(--newstext-change);
  text-align: center;
  margin-top: -5px;
  font-size: 13px;
}

.more-right{
  margin: 8px 0 9px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.more-right svg{
  float: right;
  width: 69%;
  padding-left: 7px;
  margin-top: 7px;
}

.more-sidebar{
  color: #00adef;
  text-transform: uppercase;
  font-size: 9px;
  margin: 10px 0;
}

.more-sidebar img{
  width: 5px;
  margin-top: -2px;
  margin-left: 5px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.more-article{
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  margin-bottom: -5px;
  /* margin-right: 10px; */
}

.more-article a:hover{
  color: #00adef;
}

.more-article img{
  width: 5px;
  margin-top: -2px;
  margin-left: 5px;
}

.more-article span {
  position: absolute;
  font-size: 15px;
  margin: -4px 0 0 3px;
  font-weight: lighter;
  color: #fff;
}

.footer-button h3 {
  margin: 0;
  padding-top: 8px;
  line-height: 1.39;
  font-size: 10px;
  text-transform: uppercase;
  /* text-align: center; */
}

.head-logo h3 {
  margin: 0;
  padding-top: 8px;
  line-height: 1.39;
  font-size: 13px;
  text-transform: uppercase;
  /* text-align: center; */
}

#footer-login {
  position:absolute;
  bottom:0;
  font-size:11px;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  padding-top:11px;
  width:100%;
  height:38px;
  background:#113e51;
}

#nav-two a audio {
  display: none;
}

.form-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto; }
  .form-form .form-form-wrap {
    max-width: 325px;
    margin: 0 auto;
    min-width: 200px;
    min-height: 100%;
    align-self: center;
    width: 100%;
    /* height: 100vh; */
    justify-content: center; }
  .form-form .form-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 100%; }
    .form-form .form-container .form-content {
      display: block;
      width: 100%;
      padding: 20px 25px;
      /* background: #060818; */
      text-align: center;
      /* border-radius: 15px;
      -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);  */
    }
      .form-form .form-container .form-content h1 {
        font-size: 32px;
        color: #bfc9d4; }
      .form-form .form-container .form-content > p {
        font-size: 13px;
        color: #888ea8;
        font-weight: 600;
        margin-bottom: 35px; }
  .form-form .form-form-wrap .user-meta {
    margin-bottom: 35px; }
    .form-form .form-form-wrap .user-meta img {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 15px;
      border: 4px solid rgba(59, 63, 92, 0.25); }
    .form-form .form-form-wrap .user-meta div {
      align-self: center; }
    .form-form .form-form-wrap .user-meta p {
      font-size: 31px;
      color: #bfc9d4;
      margin-bottom: 0; }
  .form-form .form-form-wrap h1 .brand-name {
    color: #bfc9d4;
    font-weight: 600; }
  .form-form .form-form-wrap p.signup-link {
    font-size: 14px;
    color: #bfc9d4;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 50px; }
    .form-form .form-form-wrap p.signup-link.register {
      font-size: 13px;
      color: #888ea8;
      font-weight: 600;
      margin-bottom: 25px;
      margin-top: 0; }
    .form-form .form-form-wrap p.signup-link.recovery {
      margin-top: 0; }
    .form-form .form-form-wrap p.signup-link a {
      color: #009688;
      border-bottom: 1px solid;
      font-weight: 600; }
  .form-form .form-form-wrap form .field-wrapper {
    width: 100%; }
    .form-form .form-form-wrap form .field-wrapper.input {
      margin-left: 0px;
      padding: 5px 0px 5px 0;
      border-bottom: none;
      position: relative; }
      .form-form .form-form-wrap form .field-wrapper.input:focus {
        border: 1px solid #000; }
    .form-form .form-form-wrap form .field-wrapper.toggle-pass p {
      font-weight: 600;
      color: #bfc9d4;
      margin-bottom: 0; }
    .form-form .form-form-wrap form .field-wrapper .logged-in-user-name {
      font-size: 37px;
      color: #bfc9d4; }
    .form-form .form-form-wrap form .field-wrapper label {
      font-size: 10px;
      font-weight: normal;
      color: #00adef;
      margin-top: 8px; }
    .form-form .form-form-wrap form .field-wrapper.terms_condition {
      margin-bottom: 20px; }
      .form-form .form-form-wrap form .field-wrapper.terms_condition label {
        font-size: 14px;
        color: #009688;
        padding-left: 31px;
        font-weight: 600; }
      .form-form .form-form-wrap form .field-wrapper.terms_condition a {
        color: #bfc9d4; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-user {
      top: 12px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-lock {
      top: 12px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-at-sign {
      top: 47px; }
      .form-form .form-form-wrap form .field-wrapper svg.feather-at-sign.register {
        top: 53px; }
    .form-form .form-form-wrap form .field-wrapper svg:not(.feather-eye) {
      position: absolute;
      left: 12px;
      color: #00adef;
      fill: rgba(0, 23, 55, 0.08);
      width: 20px;
      height: 20px; }
    .form-form .form-form-wrap form .field-wrapper svg.feather-eye {
      position: absolute;
      top: 12px;
      right: 13px;
      color: #00adef;
      fill: rgba(0, 23, 55, 0.08);
      width: 17px;
      cursor: pointer; }

      svg.feather-user path, svg.feather-lock path, svg.feather-eye path {
        fill: var(--input-formwrap);
      }

    .form-form .form-form-wrap form .field-wrapper input {
      display: inline-block;
      vertical-align: middle;
      /* border-radius: 6px; */
      min-width: 50px;
      max-width: 350px;
      width: 100%;
      -ms-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      color: var(--input-formwrap);
      border: var(--border-slogan);
      font-weight: normal;
      font-size: 13px;
      padding: 13px 42px;
     }
      .form-form .form-form-wrap form .field-wrapper input::-webkit-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-ms-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-moz-placeholder {
        color: #d3d3d3;
        font-size: 14px; }
    .form-form .form-form-wrap form .field-wrapper button.btn {
      /* margin-top: -25px; */
      align-self: center;
      width: 100%;
      padding: 6px 10px 5px 10px;
      font-size: 14px;
      letter-spacing: 1.5px; }
    .form-form .form-form-wrap form .field-wrapper a.forgot-pass-link {
      font-weight: normal;
      color: #00adef;
      display: block;
      letter-spacing: 1px;
      font-size: 10px;
      margin-top: 8px; }
    .form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator {
      top: 2px;
      border: 1px solid #ff0000;
      background-color: #ff0000; }
      .form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator:after {
        top: 54%; }

.new-control.new-checkbox.checkbox-primary > input:checked ~ span.new-control-indicator {
  border: none; }

.form-form .form-form-wrap form .division {
  text-align: center;
  font-size: 13px;
  margin: 35px 0 38px 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #00adef;
  -webkit-text-fill-color:#00adef;
  -webkit-box-shadow: var(--autofill-change);
  transition: background-color 5000s ease-in-out 0s;
}

  .dodneon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #00adef;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.1s;
}



.dodneon:hover {
  color: #255784;
  background: #00adef;
  box-shadow: 0 0 10px #00adef, 0 0 0px #00adef, 0 0 0px #00adef;
  transition-delay: 1s;
}


.dodneon span {
  position: absolute;
  display: block;
}




.dodneon span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
}



.dodneon:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


.dodneon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
}

.dodneon:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}



.dodneon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
}

.dodneon:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}



.dodneon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
}

.dodneon:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}



.form-form .form-form-wrap form .social {
  text-align: center; }
  .form-form .form-form-wrap form .social a {
    background: transparent;
    box-shadow: none;
    border: 1px solid #1b2e4b;
    padding: 12px 10px;
    width: 181px;
    color: #888ea8; }
    .form-form .form-form-wrap form .social a.social-fb {
      margin-right: 15px; }
      .form-form .form-form-wrap form .social a.social-fb svg, .form-form .form-form-wrap form .social a.social-fb .brand-name {
        color: #2196f3; }
        

        
/*
    =====================
        Media Query
    =====================
*/

/* @media (max-width: 480px) {
  body .overflow {
    overflow-x:  auto; }

  .centered {
    margin-top: 15px;
    margin-bottom: 75px;
    height: auto;
  }

  .home-article {
    margin: 10px 0 5px 0;
  }

  .logo-presisi {
    display: var(--logohome-change);
    margin: 125px auto 10px auto;
    width: 80%;
  }
  .logolight-presisi {
    display: var(--logohomeligh-change);
    margin: 125px auto 10px auto;
    width: 80%;
  }
  .button-login {
    display: var(--logohome-change);
    margin: 100px auto 100px auto;
    width: 30%;
  }
  .button-loginlight {
    display: var(--logohomeligh-change);
    margin: 100px auto 100px auto;
    width: 30%;
  }
  .text-login {
    margin-top: -102px;
    transform: translate(-50%, -150%);
    width: 13%;
  }

	.line-article svg path {
    display: none;
  }
  
  .line-article svg line {
    stroke: var(--svgline-change);
    display: none;
  }
} */

@media (max-width: 767px) {
  body .overflow {
    overflow-x:  auto; }

  .centered {
    margin-top: 15px;
    margin-bottom: 75px;
    height: auto;
  }

  .home-article {
    margin: 10px 0 5px 0;
  }

  .logo-presisi {
    display: var(--logohome-change);
    margin: 125px auto 10px auto;
    width: 80%;
  }
  .logolight-presisi {
    display: var(--logohomeligh-change);
    margin: 125px auto 10px auto;
    width: 80%;
  }
  .button-login {
    display: var(--logohome-change);
    margin: 100px auto 100px auto;
    width: 30%;
  }
  .button-loginlight {
    display: var(--logohomeligh-change);
    margin: 100px auto 100px auto;
    width: 30%;
  }
  .text-login {
    margin-top: -101px;
    transform: translate(-50%, -150%);
    width: 14%;
  }

	.line-article svg path {
    display: none;
  }
  
  .line-article svg line {
    stroke: var(--svgline-change);
    display: none;
  }

  .text-logo {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 0.5;
  }

  .tx-mobile {
    line-height: 1.2;
  }

  .logo-login{
    width: 35%;
    margin-top: 115px;
  }

  .form-form {
    width: 100%;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 

  .centered {
    margin-top: 45px;
    margin-bottom: 75px;
    height: auto;
  }
  .logo-presisi {
    display: var(--logohome-change);
    margin: 100px auto 10px auto;
    width: 80%;
  }
  .logolight-presisi {
    display: var(--logohomeligh-change);
    margin: 100px auto 10px auto;
    width: 80%;
  }
  .button-login {
    display: var(--logohome-change);
    margin: 120px auto 100px auto;
    width: 100%;
  }
  .button-loginlight {
    display: var(--logohomeligh-change);
    margin: 120px auto 100px auto;
    width: 100%;
  }
  .text-login {
    margin-top: -99px;
    transform: translate(-50%, -150%);
    width: 38%;
  }

	.line-article svg path {
    display: none;
  }
  
  .line-article svg line {
    stroke: var(--svgline-change);
    display: none;
  }

  .text-logo {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 0.5;
  }

  .tx-mobile {
    line-height: 1.2;
  }

  .logo-login{
    width: 35%;
    margin-top: 115px;
  }

  .title-news{
    position: absolute;
    margin-top: -20px;
  }

  .home-article img {
    float: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
  }

  .home-article p {
    margin: 10px 0;
    text-align: center;
  }

  .form-form {
    width: 100%;
   }
}

@media screen and (min-width: 1920px) {
  .head-logo h3 {
    margin: 0;
    padding-top: 10px;
    line-height: 1.39;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -10px;
  }
  /* .head-logo img {
    top: 0;
    float: left;
    padding: 0;
    margin: 0px 8px 5px 0;
    width: 50px;
    margin-bottom: 35px;
  } */
  .head-logo h3 img{
    width: 10px;
    margin-top: 5px;
  }
  .logo-presisi {
    margin: 65px auto 90px auto;
  }
  .logolight-presisi {
    margin: 65px auto 90px auto;
  }
  .button-login {
    margin: 75px auto 80px auto;
    width: 60%;
  }
  .button-loginlight {
    margin: 75px auto 80px auto;
    width: 60%;
  }
  .text-login {
    width: 27%;
    margin-top: -127px;
    transform: translate(-50%, -80%);
    /* padding: 25px; */
  }
  .title-news{
    color: #fff;
    text-align: center;
    margin-top: -5px;
    font-size: 18px;
  }
  .more-article{
    font-size: 14px;
  }
  .more-article img{
    width: 6px;
    margin-top: -5px;
  }
  
.home-article img {
  float: left;
  padding: 0;
  margin: -2px 15px -2px -15px;
  width: 245px;
}

.home-article p {
  font-size: 17px;
}

.home-article p label {
  display: block;
  font-size: 15px;
  color: #00adef;
}

/* .home-article p label span {
  position: absolute;
  font-size: 25px;
  margin: -7px 0 0 3px;
  font-weight: lighter;
} */

/* .home-article p label:hover {
  color: #fff;
} */
  .centered {
    height: 95vh;
  }
  .logo-login{
    width: 40%;
    margin-top: 40px;
  }
  .text-slogan {
    font-size: 18px;
  }
  .left-kurung {
    position: absolute;
    width: 13px;
    margin: 2px 0 0 3px;
  }
  .right-kurung {
    position: absolute;
    width: 13px;
    margin: 2px 0 0 -15px;
  }
  .text-logo {
    font-size: 35px;
  }
  .form-form .form-form-wrap {
    max-width: 375px;
  }
  .form-form .form-form-wrap form .field-wrapper input {
    font-size: 18px;
    padding: 22px 42px;
  }
  .form-form .form-form-wrap form .field-wrapper svg:not(.feather-eye) {
    top: 15px;
  }
  .form-form .form-form-wrap form .field-wrapper button.btn {
    padding: 10px 10px 9px 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 2500px) {
  .head-logo h3 {
    margin-top: -7px;
  }
  .logo-presisi {
    display: var(--logohome-change);
    margin: 135px auto 150px auto;
    width: 80%;
  }
  .logolight-presisi {
    display: var(--logohomeligh-change);
    margin: 135px auto 150px auto;
    width: 80%;
  }
  .button-login {
    display: var(--logohome-change);
    margin: 135px auto 150px auto;
    width: 80%;
  }
  .button-loginlight {
    display: var(--logohomeligh-change);
    margin: 135px auto 150px auto;
    width: 80%;
  }
  .text-login {
    margin-top: -150px;
    transform: translate(-50%, -150%);
    width: 35%;
  }
}

@media screen and (min-width: 3840px) {
  .logo-presisi {
    /* width: 10%; */
  }
}