/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
/* h1, h2, h3, h4, h5, h6 {
  color: #3b3f5c; } */

/*
    Basic
*/

.theme-light {
  --bg-accordion: rgba(11, 101, 138, 1);
  --bg-second: rgba(17, 66, 92, 1);
  --color-accordion: #fff;
}

.theme-dark {
  --bg-accordion: rgb(0, 173, 239, 0.1);
  --bg-second: rgb(0, 173, 239, 0.3);
  --color-accordion: #105c7c;
}

.card {
  color: var(--color-accordion) !important;
  border: none;
  border-radius: unset;
  margin-bottom: 4px;
  background: transparent; }

.second-toogle {
  background: var(--bg-second);
  padding: 10px 0;
}

.card-header {
  
  background-color: var(--bg-accordion);
  /* color: #f8538d; */
  border-radius: unset;
  padding: 0;
  position: relative;
  border-bottom: none; }
  .card-header section > div {
    padding: 13px 19px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: 1px; }
    .card-header section > div.collapsed {
      color: var(--color-accordion); }
    .card-header section > div:not(.collapsed) {
      color: var(--color-accordion);
      /* border-bottom: 2px solid #1b2e4b; */
      font-weight: normal }
    .card-header section > div .icons {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 10px 20px 10px 0; }
      .card-header section > div .icons svg {
        width: 18px; }

.card .card-body p {
  color: #888ea8;
  letter-spacing: 1px;
  font-size: 13px; }
  .card .card-body p:not(:last-child) {
    margin-bottom: 10px; }

.card .card-body ul {
  margin-bottom: 0; }
  .card .card-body ul li {
    font-size: 12px;
    letter-spacing: 1px; }
    .card .card-body ul li:not(:last-child) {
      margin-bottom: 5px; }
    .card .card-body ul li a {
      color: #888ea8;
      font-size: 13px;
      font-weight: normal }
      .card .card-body ul li a:hover {
        color: #1b55e2; }

/*
    No Outer Spacing
*/
.no-outer-spacing {
  border: 1px solid #3b3f5c;
  border-radius: unset;
 }
  .no-outer-spacing .card {
    margin-bottom: 0;
    border: none;
    border-radius: unset; }
    .no-outer-spacing .card:first-child {
      border-top-left-radius: unset;
      border-top-right-radius: unset; 
    }
    .no-outer-spacing .card:last-child {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
     }
    .no-outer-spacing .card:not(:last-child) {
      border-bottom: 1px solid #3b3f5c; }
  .no-outer-spacing .card-header section > div:not(.collapsed) {
    border-bottom: none; }

/*
    Accordin with Icons
*/
.accordion-icons .accordion-icon {
  display: inline-block;
  margin-right: 10px; }
  .accordion-icons .accordion-icon svg {
    color: #888ea8;
    margin-right: 6px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08); }

.accordion-icons div:not(.collapsed) .accordion-icon svg {
  color: #fff;
  fill: rgba(27, 85, 226, 0.239216); }
