.circle-inner {
    width: 100px;
    height: 100px;
    background-color: rgb(133, 224, 242);
    display: block;
    position: fixed;
    top: 50%;
    left: 55%;
    margin-left: -50px;
    margin-top: -120px;
    border-radius: 80px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.circle-inner-inner {
    width: 100px;
    height: 100px;
    background-color: rgb(74, 124, 134);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 100px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.feather-icon .icon-section {
    padding: 30px;
}

.feather-icon .icon-section h4 {
    color: #bfc9d4;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
}

.feather-icon .icon-content-container {
    padding: 0 16px;
    width: 86%;
    margin: 0 auto;
    border: 1px solid #191e3a;
    border-radius: 6px;
}

.feather-icon .icon-section p.fs-text {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.feather-icon .icon-container {
    cursor: pointer;
}

.feather-icon .icon-container svg {
    color: #bfc9d4;
    margin-right: 6px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: rgba(0, 23, 55, 0.08);
}

.feather-icon .icon-container:hover svg {
    color: #888ea8;
}

.feather-icon .icon-container span {
    display: none;
}

.feather-icon .icon-container:hover span {
    color: #888ea8;
}

.feather-icon .icon-link {
    color: #888ea8;
    font-weight: 600;
    font-size: 14px;
}


/*FAB*/

.fontawesome .icon-section {
    padding: 30px;
}

.fontawesome .icon-section h4 {
    color: #bfc9d4;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
}

.fontawesome .icon-content-container {
    padding: 0 16px;
    width: 86%;
    margin: 0 auto;
    border: 1px solid #191e3a;
    border-radius: 6px;
}

.fontawesome .icon-section p.fs-text {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.fontawesome .icon-container {
    cursor: pointer;
}

.fontawesome .icon-container i {
    font-size: 20px;
    color: #bfc9d4;
    vertical-align: middle;
    margin-right: 10px;
}

.fontawesome .icon-container:hover i {
    color: #888ea8;
}

.fontawesome .icon-container span {
    color: #888ea8;
    display: none;
}

.fontawesome .icon-container:hover span {
    color: #888ea8;
}

.fontawesome .icon-link {
    color: #888ea8;
    font-weight: 600;
    font-size: 14px;
}

.table>tbody>tr>td {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.require {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.iconSize {
    font-size: 25px;
}

.menuIconSize {
    font-size: 27px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.dtIconSize {
    font-size: 24px;
}

.checkboxRole {
    height: 21px;
    margin-bottom: 0;
    margin-right: 0
}

.pNotif {
    font-size: 12px;
    font-style: italic;
}

.page-item.active .page-link {
    background-color: #009688;
    margin-top: 3px;
}

.page-item .page-link {
    margin-top: 3px;
}

.navbar {
    z-index: 1030;
    padding: 10px 0 10px 0;
    background: transparent;
    margin: 0 32px;
}

.custom {
    position: relative;
    padding: .75rem 1.25rem .10rem .75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
    padding-top: 17px;
}

.far {
    font-size: 20px;
}

td.tengah {
    text-align: center;
}

.parmissionPanel {
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.centerLoading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.new-control.new-radio.radio-info>input:checked~span.new-control-indicator {
    background: #4CAF50;
}

.new-control.new-radio .new-control-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 50%;
}

.mark,
mark {
    background-color: #ffffff;
}

blockquote.blockquote {
    color: #009688;
    padding: 20px 20px 20px 14px;
    font-size: 18px;
    background-color: #1b2e4b;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #1b2e4b;
    border-left-color: rgb(27, 46, 75);
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgb(27, 46, 75);
    border-left-style: solid;
    border-left-width: 1px;
    border-left: 5px solid #009688;
    font-weight: bold;
}

.loadingWhite {
    color: white;
}

hr.dashed {
    border-top: 2px dashed #999;
}

.red {
    color: #dc3545;
}

.teal {
    color: #28a745;
}